.homepage {
  background: url("~@static/images/bg1.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 1441px) {
  .homepage {
    background-size: cover;
  }
}
