:root {
//   --font-body: 'SF Pro Display'; 
//   --font-content-item-info: 'MuseoModerno';
//   --sides-programs: 25px;
//   --sides-sm-programs: 7px;
  // --sides-sm-programs: 14px;

  --font-body: Lato;
  --font-pretty: 'Wendy One';
  --font-item-count: 'Avenir';
}